<div>
    <h2>New Post</h2>
    <form>
        <div>
        <label>Title</label>
        <input type="text" id="title" name="title" placeholder="title">
        </div>
        <div>
            <label>Content</label>
            <input type="text" id="content" name="content" placeholder="=content">
        </div>
        <div>
            <button class="btn btn-primary" type="submit">New Post</button>
        </div>
    </form>
</div>

<script src="../public/js/add-post.js"></script>